<!DOCTYPE html>
<html>
  <head>{% include head.html %}</head>
  <body class="index is-preload">
    <div id="page-wrapper">
      {% include header.html %}
      {% include banner.html %}
      <article id="main">
        <header class="special container">
          {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}
          {% if page.lead %}<p>{{ page.lead }}</p>{% endif %}
        </header>
        <section id="main" class="wrapper style1 container special">
          {{ content }}
        </section>
      </article>
      <section id="cta">
        <header>
          <h2>Ready to do <strong>something</strong>?</h2>
          <p>Replace this copy in <code>_layouts/default.html</code> or remove the CTA.</p>
        </header>
        <footer>
          <ul class="buttons">
            <li><a href="mailto:{{ site.author.email }}" class="button primary">Contact</a></li>
            <li><a href="{{ '/projects/' | relative_url }}" class="button">See Work</a></li>
          </ul>
        </footer>
      </section>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
